<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rhaleff.roteiro02">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>

        <activity android:name=".TraduzirFrancesActivity" android:label="FRANCES">
            <intent-filter>
                <action android:name="TRADUZIR"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="FRANCES"/>
            </intent-filter>
        </activity>

        <activity android:name=".TraduzirInglesActivity" android:label="INGLES">
            <intent-filter>
                <action android:name="TRADUZIR"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="INGLES"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
